<div class="biggest-div" style="background-color:#BACDB0;">
  <div class="climate-top">
    <div style="font-family: 'Open Sans', sans-serif; text-align:center;padding:50px 30px 50px 30px;">
      <h1>KÖPPEN-GEIGER CLIMATE CLASSIFICATION</h1>
      For more details visit <a href="http://koeppen-geiger.vu-wien.ac.at/present.htm" style="color:gray;">here</a>
    </div>
  </div>

  <div class="climate-bottom">
    <%= image_tag "world.jpg", style:"width:100%;height:100%" %>
  </div>

</div>
