<div class="contact-us">
  <div class="contact-top">
    <h1 style="font-family: 'Open Sans', sans-serif; text-align:center; padding-top:10%;">CONTACT US</h1>
  </div>

  <div class="contact-bottom">
    <div style="width:40%;margin:auto;">
      <%= image_tag "aloe-construction.png", style:"width:100%;height:100%" %>
    </div>
  </div>
</div>
