<div class="contact-us">
  <div class="contact-top">
    <h1 style="font-family: 'Open Sans', sans-serif; text-align:center; padding-top:10%;">CONTACT US</h1>
  </div>

  <div class="contact-bottom">
    <p>If there appears to be any issues with a specific plant species, or you think there is incorrect information, do let us know as this is definitely a commmunity effort</p>
    <div>
    </div>
  </div>
</div>
