<div class="biggest-div" style="background-color: #BACDB0;">
  <div class="home-top-section">
    <div class="home-left">
      <div class="header">
        <h3>Keep 'em growing!</h3>
      </div>

      <div class="body" style="display:flex;">
        <div style="width:40%;margin-right:5px;">
          <p>
            Ever wonder why it seems like everything you touch dies?
            Have you ever accidentally killed a cactus?
            Even though they are one of the easiest houseplants to take care of?
          </p>
          <p>
            Fret no more! Aloe will do all that planning for you! All you really need is a phone to receive SMS reminder texts. Keep track of all your houseplants here, add them to your list, this site will generate the reminder times for you.
          </p>

            Who needs a green thumb now?
          </p>
        </div>

        <div style="width:60%;margin-left:5px;">
          <%= image_tag "aloe-vera.jpg", style:"max-width:100%;max-height:100%" %>
        </div>
      </div>
    </div>

    <div class="home-right">
      <div class="header">
        <h3>Trending</h3>
      </div>
      <div class="body">
        <p>words are hard</p>
      </div>
    </div>
  </div>
  <div class="text-banner">
      <span><%= @puns.sample.upcase %></span>
  </div>


  <h2>How You Can Help</h2>
  <p>Add to the db yo</p>
  <!-- Aloe is an application that reminds you to water your houseplants in timely manner. The time frame for when a plant needs to be watered is based on the climate zone of its native location, as well as your location. It helps generate a watering schedule by comparing the climate zones of plant and your location and then sets up the reminder so you don't have to do any of the hard work. Stuff like remembering when to water which plant, and when was the last time you watered your many houseplants. Some of you may have so many plants it can be difficult to keep track of if they have varying needs!

  A lot of this information is added into the database through continous research and with the help of users (like you!). The database can then help generate a customized watering schedule for each one of your houseplants. -->

</div>
