<div class="biggest-div">
  <h1>Home. Page.</h1>

  <p>A plant database geared towards common house plants across the globe, general guidelines for care according to species types and user location
    <ul>
      <li>emphasis on houseplants and outdoor ornamentals</li>
      <li>plant location</li>
      <li>user location to generate data for optimum temperature</li>
      <li>shade/sun needs</li>
      <li>temperature</li>
      <li>water frequency</li>
    </ul>

  </p>

  <h2>How You Can Help</h2>
</div>
