<h1>Add a new plant</h1>
<p>Not finding what you're looking for? Have some knowledge about common houseplants? Help pls</p>
<p>There are so many houseplants out there, you can help populate this database. (Sign-In required)</p>

<hr>

<%= render 'form' %>
