<div class="biggest-div">
  <div class="card mx-auto" style="width: 50rem;border-radius:5px;background-color:white;border:solid rgb(168, 154, 69) 1px;">
    <div class="card-body">
      <h2 class="card-title">Add Species</h2>
      <h6 class="card-subtitle mb-2 text-muted">Not finding what you're looking for? Have some knowledge about common houseplants?  There are so many houseplants and ornamentals out there, you can help keep this database growing! :)</h6>

      <%= render 'form' %>

    </div>
  </div>
</div>
