<h1>Add a new plant</h1>
<p>* indicates required field</p>
<hr> 

<!-- this text should appear on hover over the climate_zone entry field -->
<div>
  need some help? check out the Koeppen Geiger map for a general climate zone guideline
</div>
