<hr>
<div class="card mx-auto" style="width: 50rem;">
  <div class="card-body">
    <h1 class="card-title">Add a Species</h1>
    <h6 class="card-subtitle mb-2 text-muted">Not finding what you're looking for? Have some knowledge about common houseplants?  There are so many houseplants and ornamentals out there, you can help keep this database growing! :)</h6>
    
    <%= render 'form' %>

  </div>
</div>
