/*Account info section*/
.user-show-top {
  display: flex;
  width: 100%;
  padding: 15px;
}

.user-show-top .left{
  width: 50%;
  height: 100%;
  padding: 10px;
}

.user-info {
  border-collapse: collapse;
  width:100%;
  border: 2px solid black;
  background-color: white;
}

.user-show-top .right {
  width: 50%;
  height: 100%;
  padding: 45px 30px 30px 30px;
  font-size: 20px;
}

.add-button {
  display: block;
  text-align: center;
  background-color: #2E2C2F;
  height: 50px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
}

.add-button a {
  color: white;
}

.add-button a:hover {
  color: #475B63;
}

.user-show-bottom {
  width: 100%;
  // height: 150vh; //???
  padding: 15px;
}


/*individual plant photos--------------------------------------------------------*/
.indv-grid{
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 8px;
}

.card-indv {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 10px;
  width: 100%;
  margin: 5px;

  &:hover{
    top: -2px;
    box-shadow: 0 4px 5px gray;
  }

  article {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  p {
    flex: 1;
    line-height: 1.4;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    color: #314547;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}
