@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

#html {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body{
  background-color:#BACDB0;
}

.top-banner{
  width:100vw;
  height: 60px;
  background-color: #2E2C2F;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.biggest-div{
  background-color: #f1ffb8;
  width: 75vw;
  height: auto;
  min-height: 100vh;
  vertical-align: top;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 0px;
}

.alert-div{
  width: 75vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.status-bar{
  display: flex;
}

.status-item{
  margin: 1px;
  padding: 8px;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

.easy{
  border: 1.5px solid green;
}

.moderate{
  border: 1.5px solid orange;
}

.hard{
  border: 1.5px solid red;
}

a:hover{
  text-decoration: none;
  color: #475B63;
}

a{
  color: #262626;
}

/*remove the number arrows--------------------------------------------------------*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*pagination nav--------------------------------------------------------*/
.paginate-div{
  display:flex;
  justify-content: center;
}

.pagination {
  font-size: 16px;
  margin-bottom: 5px;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
  border-radius: 1px;
  background-color: white;
  border: solid white 2px;
}

.pagination a:hover {
  background: rgb(221, 221, 221) none repeat scroll 0 0;
  border: solid rgb(221, 221, 221) 2px;
  text-shadow: none;
  text-decoration: none;
}

.pagination a:active {
  text-shadow: none;
  border: solid blue 2px;
}

.pagination .current {
    border: solid blue 2px;
    text-shadow: none;
}

.pagination .disabled {
    color: #C0C0C0;
}

/*individual plant photos--------------------------------------------------------*/
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-indv {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 10px;
  width: 24vw;
  margin: 5px;

  /*hover*/
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }

  article {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  p {
    flex: 1;
    line-height: 1.4;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    color: #314547;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

/*Nav bar--------------------------------------------------------*/
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar{
  height: 50px;
  overflow: hidden;
  background-color: #BACDB0;
  padding: 0px;
  z-index: 9; 
}


.topnav {
  // background: #539857;
  // background-color: #436931;
  background-color: #729B79;
  height: 50px;
  width: 75vw;
  margin: auto;
}
.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.topnav ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.topnav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.topnav.align-right ul li {
  float: right;
}
.topnav.align-center ul {
  text-align: center;
}
.topnav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.topnav ul li a:hover {
  color: #2E2C2F;
}
.topnav ul li a:hover:before {
  width: 100%;
}
.topnav ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.topnav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #2E2C2F;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.topnav ul li.last > a:after,
.topnav ul li:last-child > a:after {
  display: none;
}
.topnav ul li.active a {
  color: #2E2C2F;
}
.topnav ul li.active a:before {
  width: 100%;
}
.topnav.align-right li.last > a:after,
.topnav.align-right li:last-child > a:after {
  display: block;
}
.topnav.align-right li:first-child a:after {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .topnav ul li {
    float: none;
    display: block;
  }
  .topnav ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  .topnav ul li.last > a,
  .topnav ul li:last-child > a {
    border: 0;
  }
  .topnav ul li a:after {
    display: none;
  }
  .topnav ul li a:before {
    display: none;
  }
}

/*Admin users table--------------------------------------------------------*/
#users{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even){
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #32573d;
  color: white;
}

/*Footer--------------------------------------------------------*/
footer {
  width:100vw;
  height: 150px;
  margin-top: 10px;
  background-color: #2E2C2F;
}
