@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

#html {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body{
  background-color:#BACDB0;
}

.top-banner{
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  width:100vw;
  height: 60px;
  overflow: hidden;
  background-color: #2E2C2F;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.top-banner a {
  color:white;
}

.top-banner-1{
  width: calc(12.5vw);
  height: 60px;
}

.top-banner-3{
  width: calc(12.5vw);
  height: 60px;
}

.top-banner-center{
  display: flex;
  justify-content: space-between;

  color: white;
  line-height: 60px;
  height: 60px;
  width: 75vw;
  margin: 0px;
}

.biggest-div{
  background-color: #f1ffb8;
  width: 75vw;
  height: auto;
  min-height: 100vh;
  vertical-align: top;
  margin:auto;
  padding: 0px;
}

.alert-div{
  width: 75vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.status-bar{
  display: flex;
}

.status-item{
  margin: 1px;
  padding: 8px;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

.easy{
  border: 1.5px solid green;
}

.moderate{
  border: 1.5px solid orange;
}

.hard{
  border: 1.5px solid red;
}

a:hover{
  text-decoration: none;
  color: #475B63;
}

a{
  color: #262626;
}

/*remove the number arrows--------------------------------------------------------*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Nav bar--------------------------------------------------------*/
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar{
  height: 44px;
  overflow: hidden;
  background-color: #BACDB0;
  padding: 0px;
  z-index: 9;
}

.topnav {
  background-color: #729B79;
  height: 44px;
  width: 75vw;
  margin: auto;
}
.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.topnav ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.topnav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.topnav.align-right ul li {
  float: right;
}
.topnav.align-center ul {
  text-align: center;
}
.topnav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.topnav ul li a:hover {
  color: #2E2C2F;
}
.topnav ul li a:hover:before {
  width: 100%;
}
.topnav ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.topnav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #2E2C2F;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.topnav ul li.last > a:after,
.topnav ul li:last-child > a:after {
  display: none;
}
.topnav ul li.active a {
  color: #2E2C2F;
}
.topnav ul li.active a:before {
  width: 100%;
}
.topnav.align-right li.last > a:after,
.topnav.align-right li:last-child > a:after {
  display: block;
}
.topnav.align-right li:first-child a:after {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .topnav ul li {
    float: none;
    display: block;
  }
  .topnav ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  .topnav ul li.last > a,
  .topnav ul li:last-child > a {
    border: 0;
  }
  .topnav ul li a:after {
    display: none;
  }
  .topnav ul li a:before {
    display: none;
  }
}

/*Admin users table--------------------------------------------------------*/
#users{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even){
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #32573d;
  color: white;
}

/*Footer--------------------------------------------------------*/
footer {
  width:100vw;
  height: 300px;
  margin-top: 10px;
  color: white;
  background-color: #2E2C2F;
}

footer a {
  color: white; 
}

footer a:hover{
  color: #475B63;
}

.footer-center {
  display: flex;
  flex-direction: column;

  width: 75vw;
  height: 300px;
  margin: auto;
}

.footer-center-top {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
}

.footer-center-top .fc-l{
  height: 100%; //100% of parent div
  width: 70%;

  color: white;
  padding: 40px 30px 20px 30px;
}

.footer-center-top .fc-r {
  height: 100%;
  width: 30%;

  color: white;
  padding: 40px 30px 20px 30px;
}

.footer-center-bottom {
  height: 20%;
  width: 100%;

  color: white;
  text-align: center;
  padding: 5px;
}
