//Plant index
.plants-index { //left-right margins outsourced to biggest-div class
  width: 75vw;
  padding: 15px;
}

.plant-index-items {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 8px;
}

.plant-index-items > * {
  height: 400px;
  width: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.plant-image {
  width: 100%;
  height: 80%;
  background-color: #e7e7e7;
  margin-bottom: 5px;
}

/*Plant index pagination nav--------------------------------------------------------*/
.paginate-div{
  display:flex;
  justify-content: center;
}

.pagination {
  font-size: 16px;
  margin-bottom: 5px;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
  border-radius: 1px;
  background-color: white;
  border: solid white 2px;
}

.pagination a:hover {
  background: rgb(221, 221, 221) none repeat scroll 0 0;
  border: solid rgb(221, 221, 221) 2px;
  text-shadow: none;
  text-decoration: none;
}

.pagination a:active {
  text-shadow: none;
  border: solid blue 2px;
}

.pagination .current {
    border: solid blue 2px;
    text-shadow: none;
}

.pagination .disabled {
    color: #C0C0C0;
}

// Plant show page
.italic {
  font-style: italic;
}

.plant-show {
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;

  margin:auto;
  width: 100%;
}

.plant-show .left {
  background-color: #f1ffb8;
  height: 40vh;
  width: 40%;
}

.ps-image-box {
  display: inline-block;
  height: 90%;
  width: 90%;
  padding: 10px;
  margin:15px;

  background-color: white;
}

.plant-show .right {
  background-color: #f1ffb8;
  height: 40vh;
  width: 60%;
}

.plant-show-3{
  width:100%;
  background-color: #f1ffb8;
}

.plant-show-4{
  width:100%;
  background-color: #f1ffb8;
}

.plant-show-5{
  width:100%;
  background-color: #f1ffb8;
  margin: 15px;
}

.ps-5-grid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 8px;
}

.ps-5-grid > * {
  width: 100%;
  height: 400px;
  padding: 10px;
  background-color: white;
}

.plant-show-table {
  border-collapse: collapse;
  width:100%;
  border: 2px solid black;
  background-color: white;
}

.plant-show-table th {
  background-color: #2E2C2F;
  color: white;
}

.x-button {
  float: right;
  padding-right: 10px;
  font-size: 20px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.x-button:hover{
  color: red;
  cursor: pointer;
}
